h2 {
    font-weight: bold;
    text-indent: 0.5cm;
    font-size: 23px;
    font-family: "Caveat", sans-serif;
    text-decoration: underline;
}

.hand {
    font-style: normal;
    text-indent: 0.5cm;
    font-size: 20px;
    font-family: "Caveat", sans-serif;
    line-height: 1.3;   
}

